body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.input-container{
    display: flex;
    margin-top: 20px;  
    justify-content: center; 
    padding: 3rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-box{
    padding: 1rem;
    margin: 0 0.5rem;
    width: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#submit{
    padding: 1rem 2rem;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submit:disabled
{
    background-color: #ccc;
    cursor: not-allowed;
}